@{
    ViewBag.Title = "AGB";
}


<br /><br />
<div class="container">
    <div class="panel panel-success">
        <div class="panel-body">
            AGB´s
        </div>
        <div class="panel-footer panel-success">
            1. Geltungsbereich<br />
            Diese allgemeinen Geschäftsbedingungen (AGB) sind Grundlage für alle Geschäftsbeziehungen zwischen Nutzern und der TOPP Consult UG (haftungsbeschränkt) und Co. KG (nachfolgend TC) für die Erbringung des Dienstes Contact-Master Kontaktdatenverwaltung. Maßgeblich ist die jeweils zum Zeitpunkt gültige Fassung. Anders lautende Bedingungen des Nutzers haben nur Geltung, sofern sie von TC ausdrücklich und schriftlich anerkannt worden sind.
            Spätestens mit der Registrierung bei Contact-Master Kontaktdatenverwaltung bzw. TC erkennt der Nutzer die Geltung dieser Geschäftsbedingungen an.<br />
            2. Leistungen von TC<br />
            •	TC bietet mit dem Dienst Contact-Master Kontaktdatenverwaltung die Möglichkeit, Kontaktdaten, Branchen, 
            Suchprofile und Angebote aller Kontakte zu erfassen.<br />
            •	Contact-Master Kontaktdatenverwaltung ist ein Webservice von TC, welcher über das Internet zugänglich gemacht wird. 
            Ein entsprechender Internetzugang ist Voraussetzung für die Nutzung von Contact-Master Kontaktdatenverwaltung und nicht
             Gegenstand der Leistung von TC.<br />
            •	TC gewährt dem Nutzer das Recht, die Applikation Contact-Master Kontaktdatenverwaltung im Rahmen der Einschränkungen 
            von Ziffer 4 und 5 dieser AGB zu nutzen.<br />
            •	Der Umfang der Dienstleistung sowie der Nutzungsberechtigung ist abhängig von der gewählten 
            Paketgröße des Nutzers.<br />
            •	TC behält sich das Recht vor, die Leistungen jederzeit zu verändern und zu verbessern. 
            Ein Anspruch auf das Anbieten weiterer Funktionalitäten über die in Absatz 1 beschriebene Leistung hinaus besteht nicht.<br />
            3. Abtretung von Rechten und Pflichten, Bezug von Dritten<br />
            TC ist berechtigt das Recht aus dem Vertrag auf Dritte zu übertragen und Dritte zur Erfüllung des Vertrages hinzuzuziehen.
             Nähere Erklärungen zum Datenschutz finden sich in der Erklärung zum Datenschutz der TC. 
            Eine Abtretung von Rechten und Pflichten des Nutzers bedarf der schriftlichen Zustimmung von TC.<br />
            4. Pflichten der Nutzer<br />
            •	Der Nutzer ist verpflichtet, die notwendigen Informationen für die Account-Erstellung und -Änderung wahrheitsgemäß anzugeben.<br />
            •	Der Nutzer ist zur Einhaltung der geltenden Gesetze und Rechtsvorschriften verpflichtet.<br />
            •	Dem Nutzer von Contact-Master Kontaktdatenverwaltung ist es untersagt, die Leistungen von TC missbräuchlich 
            in Anspruch zu nehmen. Eine solche missbräuchliche Nutzung liegt insbesondere in den folgenden Fällen vor:<br />
            1.	bei der Nutzung werden rechtswidrige Inhalte veröffentlicht oder verbreitet.<br />
            2.	bei der Nutzung werden technische Hilfsmittel oder Methoden eingesetzt, die die Funktionsfähigkeit des
             Dienstes Contact-Master Kontaktdatenverwaltung beeinträchtigen oder beeinträchtigen können (z.B. Skripte, Bots oder sonstige Software).<br />
            •	TC ist berechtigt, rechtswidrige oder missbräuchliche Inhalte vom Nutzer unverzüglich zu löschen.<br />
            •	Der Nutzer verwaltet Kennwörter und sonstige Zugangsdaten in Eigenverantwortung und ist
             verpflichtet, die Zugangsdaten für seinen Account bei Contact-Master Kontaktdatenverwaltung 
            vor der unberechtigten Kenntnisnahme Dritter zu schützen. Der Nutzer ist verpflichtet auch solche 
            Leistungen zu bezahlen, die Dritte mittels seiner erlangten Zugangsdaten genutzt oder bestellt haben, 
            sofern er dies zu vertreten hat. Der Nutzer hat TC unverzüglich zu informieren, sobald er davon Kenntnis 
            erlangt, dass unbefugten Dritten die Zugangsdaten bekannt sind. Außerdem ist er zur unmittelbaren Änderung
             der Zugangsdaten verpflichtet, wenn er Anlass zu der Vermutung hat, dass Dritte davon Kenntnis erlangt haben könnten.<br />
            5. Nutzungsrechte<br />
            •	TC räumt dem Nutzer ein einfaches, nicht unterlizensierbares und nicht übertragbares), auf die 
            Laufzeit des Vertrags beschränktes Nutzungsrecht für den Dienst Contact-Master Kontaktdatenverwaltung
             nach den folgenden Regelungen ein.<br />
            •	Contact-Master Kontaktdatenverwaltung ist ein Webservice, welcher durch den Zugriff auf einen 
            oder mehrere Server von TC erfolgt. Eine Überlassung der Software erfolgt nicht.<br />
            •	Die vorstehenden Rechte gelten auch für während der Vertragslaufzeit vorgenommene Änderungen im
             Sinne von neuen Versionen, Updates oder anderen Änderungen an Contact-Master Kontaktdatenverwaltung.<br />
            6. Verfügbarkeit der Leistungen<br />
            TC gewährleistet eine Verfügbarkeit der Leistungen i.S.d. Ziff. 2 Abs. 1 in Höhe von 95% im Jahresmittel. 
            Ausgeschlossen von der Gewährleistung sind Leistungsmängel, die nicht von TC zu vertreten sind.<br />
            7. Hinweis zum Widerrufsrecht<br />
            Sie können Ihre Vertragserklärung innerhalb von zwei Wochen ohne Angabe von Gründen in Textform (E-Mail, Brief) 
            widerrufen. Die Frist beginnt nach Bestätigung dieser Belehrung. Zur Wahrung der Widerrufsfrist genügt die 
            rechtzeitige Absendung des Widerrufs. Der Widerruf ist zu richten an:<br />
            E-Mail: info@topp-consult.net<br />
            oder<br />
            TOPP Consult UG & Co. KG<br />
            Hohe Straße 11<br />
            04107 Leipzig<br />
            Folgen des Widerrufs:<br />
            Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren
             und ggf. gezogene Nutzungen (z. B. Zinsen) herauszugeben. Können Sie uns die empfangene Leistung 
            ganz oder teilweise nicht oder nur in verschlechtertem Zustand zurückgewähren, müssen Sie uns insoweit
             ggf. Wertersatz leisten. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb von 30 Tagen 
            erfüllt werden. Die Frist beginnt für Sie mit der Absendung Ihrer Widerrufserklärung, für uns mit deren Empfang.
            Besondere Hinweise<br />
            Ihr Widerrufsrecht erlischt vorzeitig, wenn der Vertrag von beiden Seiten auf Ihren ausdrücklichen Wunsch 
            vollständig erfüllt ist, bevor Sie Ihr Widerrufsrecht ausgeübt haben.<br />
            - Ende der Widerrufsbelehrung -<br />
            Das Widerrufsrecht besteht nach § 312b BGB nur, sofern der Nutzer Verbraucher i.S.d. § 13 BGB 
            ist und den Dienst Contact-Master Kontaktdatenverwaltung nutzt. Die Regelungen von 42h.com zu 
            dem kostenlosen Paket bleiben hiervon unberührt.<br />
            8. Haftungsbeschränkung<br />
            •	TC haftet nur bei Vorsatz und grobfahrlässig von TC verursachten Schäden unbeschränkt. 
            Die Haftung für leichte Fahrlässigkeit ist ausgeschlossen.<br />
            •	Die Haftung nach dem Produkthaftungsgesetz bleibt unberührt.<br />
            •	Insbesondere sind alle nicht ausdrücklich genannten Ansprüche auf Schadenersatz, Wandelung, 
            Minderung, Nachbesserung, Aufhebung oder Rücktritt vom Vertrag ausgeschlossen. In keinem Falle
             bestehen Ansprüche des Nutzers auf Ersatz von Folgeschäden, wie z.B. Produktionsausfall, 
            Nutzungsverlust, entgangener Gewinn oder Datenverlust. Dieser Haftungsausschluss gilt im 
            Rahmen des gesetzlich Zulässigen; die Haftung für Hilfspersonen wird vollumgänglich ausgeschlossen.<br />
            9. Datenschutz<br />
            •	TC wird personenbezogene Daten die im Rahmen der Erbringung der Dienstleistungen zur Verfügung gestellt werden, 
            vertraulich behandeln. TC verpflichtet sich, eigene Mitarbeiter sowie beigezogene Drittpersonen zur Einhaltung des 
            Datengeheimnis gem. § 5 BDSG.<br />
            •	Eine Weitergabe von personenbezogenen Daten des Nutzers an Dritte findet grundsätzlich nicht statt. 
            Dies gilt jedoch nicht für die zwingend erforderliche Übermittlung personenbezogener Daten für die Abwicklung 
            der Bezahlvorgänge an Dritte wie Zahlungsanbieter, Bankinstitute oder Kreditkartenanbieter. Hierbei werden ausschließlich 
            die Daten übermittelt, die für die Durchführung der Bezahlvorgänge zwingend erforderlich sind. Eine Übermittlung von Kontakt- 
            oder Kundendaten des Nutzers erfolgt zu keiner Zeit. Weiterhin werden sämtliche Dateianhänge des Nutzers auf Servern eines 7
            Zulieferers gespeichert. Die Speicherung erfolgt ausschließlich innerhalb der Europäischen Union (EU) und genügt aufgrund 
            redundanter Speicherung sowie einer dateispezifischen 128bit-Verschlüsselung über den Dateinamen höchsten Sicherheitsansprüchen. 
            Der Dateiname sowie die URL werden von TC zu keiner Zeit Dritten gegenüber sichtbar gemacht. Der Nutzer des Dienstes Contact-Master
             Kontaktdatenverwaltung verpflichtet sich zu seinem eigenen Schutz ebenfalls zur Geheimhaltung der direkten URLs in seinem
             Contact-Master Kontaktdatenverwaltung Account.<br />
            •	Sofern keine gesetzlichen Aufbewahrungspflichten bestehen erfolgt die Löschung der personenbezogenen Daten 14 
            Tage nach Löschung des Accounts. Das Verfahren mit Daten aus nicht bezahlpflichtigen Accounts wird in Ziffer 12, Absatz 2 beschrieben.<br />
            •	Weitere Hinweise und Regelungen zum Umgang mit Daten sind der Datenschutzerklärung zu entnehmen, welche 
            jederzeit auf der Webseite der TC einsehbar ist.<br />
            10. Vertragsabschluss und kostenlose Testphase<br />
            •	Ein Vertragsverhältnis kommt erst mit der erfolgreich abgeschlossenen Registrierung des Nutzers zustande. 
            Diese erfolgt beispielsweise, wenn der Nutzer die Registrierung durch Klicken auf den Registrierungslink in der 
            E-Mail bestätigt. Mit der erfolgreichen Registrierung eines anderen Paketes als des kostenlosen, 
            kommt ein kostenpflichtiges Vertragsverhältnis zustande. Die Höhe der monatlichen Kosten ergibt 
            sich aus den jeweils zum Zeitpunkt gültigen Paketkosten und dem von dem Nutzer gewählten Paket.<br />
            •	Der Nutzer kann Contact-Master Kontaktdatenverwaltung für unbeschränkte Zeit kostenlos testen 
            und nutzen. Solange kein Upgrade auf ein kostenpflichtiges Paket durchgeführt wird, entstehen dem 
            Nutzer keine Kosten. Sollte ein kostenloser Account 60 Tage ungenutzt sein, das heißt ohne einen 
            einzigen Login, wird der Account sowie alle darin gespeicherten Daten gelöscht. Zudem wird das 
            Vertragsverhältnis rückwirkend und für den Nutzer kostenlos aufgehoben.<br />
            •	In dem Monat nachdem ein Account auf ein bezahlpflichtiges Paket upgegradet wurde 
            oder ein direkt ein kostenpflichtiger Account angemeldet wurde, werden die monatlichen Kosten erstmals von dem Nutzer eingezogen.<br />
            •	Das Vertragsverhältnis zwischen dem Nutzer und TC läuft auf unbestimmte Zeit.<br />
            11. Rechnungsstellung<br />
            •	Die Höhe des vom Nutzer zu bezahlenden monatlichen Entgelts ergibt sich aus den zu dem Zeitpunkt
             gültigen Paketpreisen in Abhängigkeit von dem gewählten Paket. Wenn nicht anders vereinbart, verstehen 
            sich sämtliche Preise brutto, inklusive Mehrwertsteuer.<br />
            •	Die monatliche Vergütung für die Nutzung des Dienstes Contact-Master Kontaktdatenverwaltung wird 
            jeweils zum Beginn des Abrechnungsmonats fällig. Die Zahlung der monatlichen Vergütung erfolgt 
            durch Lastschrifteinzug oder Kreditkartenzahlung.<br />
            •	Der Nutzer hat für die notwendige Deckung des gewählten Zahlungskontos Sorge zu tragen. 
            Für den Fall, dass die Zahlung aufgrund von Umständen, die vom Nutzer zu vertreten sind, 
            nicht erfolgt, kann TC die entstandenen Mehrkosten (z.B. Kosten der Rücklastschrift) dem Nutzer in der jeweils angefallenen Höhe berechnen.<br />
            •	Im Falle eines Zahlungsverzugs, den der Nutzer zu verschulden hat, ist TC zur Erhebung 
            von Verzugszinsen i.H.v. 10% berechtigt. Ebenfalls ist TC bei einem verschuldeten Zahlungsverzug
             von über 14 Tagen berechtigt, den Account des Nutzers bis zur Begleichung der offenen Forderungen
             zu deaktivieren. Die Daten des Nutzers bleiben hiervon selbstverständlich unberührt.<br />
            •	Die Unterbrechung der Leistungserbringung infolge eines vom Nutzer zu verschuldenden Zahlungsverzugs
             bewirkt keine Reduktion der Forderungen seitens TC. Ein Recht auf Aufrechnung der Forderungen gegenüber
             TC steht der Nutzer nur zu, wenn die Forderungen rechtskräftig festgestellt oder von TC unbestritten sind.<br />
            •	Nutzern von dem Dienst Contact-Master Kontaktdatenverwaltung wird die monatliche Rechnung im PDF-Format
             zur Verfügung gestellt. Diese kann der Nutzer jederzeit in der Accountverwaltung einsehen und herunterladen.<br />

            12. Kündigung<br />
            •	Die Kündigung des Vertragsverhältnisses für die Nutzung von Contact-Master Kontaktdatenverwaltung
             kann der Nutzer jederzeit zum Ende des laufenden Abrechnungsmonats vornehmen. Dies kann der Nutzer
             selbstständig in der Contact-Master Kontaktdatenverwaltung-Accountverwaltung vornehmen.<br />
            •	Der Accountinhaber hat jederzeit die Möglichkeit seine Daten als Kopie zu exportieren. 
            Er trägt dafür Sorge, dass er die Kopien dieser Daten vor Ende des Vertragsverhältnisses herunterlädt 
            und sichert. Wie in Ziffer 10 Absatz 3 beschrieben, ist der Zugriff auf die Daten i.d.R. noch 14 Tage
             länger möglich. Nach Ablauf dieser Frist wird der Account mit sämtlichen Daten durch TC gelöscht.
            •	TC hat das Recht, das Vertragsverhältnis mit einem Nutzer ohne Angabe von Gründen mit einer Frist
             von drei Monaten zum Ende des Abrechnungsmonates zu kündigen.<br />
            •	TC behält sich das Recht vor, das Vertragsverhältnis zum Ende des laufenden Abrechnungsmonates zu
             kündigen, sollte der Nutzer mit der Zahlung der monatlichen Beträge mehr als 6 Wochen in Verzug sein. 
            Ansprüchen von TC, die durch die bisherige Nutzung des Dienstes Contact-Master Kontaktdatenverwaltung 
            entstanden sind, bleiben davon unberührt.<br />
            •	Ein etwaiges außerordentliches Kündigungsrecht des Nutzers bleibt unberührt.<br />
            13. Änderungen dieser AGB<br />
            •	TC behält sich vor, Änderungen an diesen AGB vorzunehmen, um beispielsweise Anpassungen an 
            geänderte rechtliche Vorschriften vorzunehmen oder das Leistungsangebot zu erweitern.
            •	TC wird den Nutzer rechtzeitig per E-Mail über Änderungen an den AGB informieren. 
            Die Änderungen werden wirksam, wenn der Nutzer diesen nicht binnen 14 Tagen nach Zugang
             der Informationen widerspricht. Der Nutzer wird in der E-Mail gesondert auf die Möglichkeit 
            des Widerspruchs und deren Frist hingewiesen.<br />
            •	Widerspricht der User den Änderungen der AGB hat TC das Recht einer Kündigung und 
            Beendigung des Vertragsverhältnisses zum Ende des aktuellen Abrechnungsmonates.<br />
            14. Schlussbestimmung<br />
            •	Sollten einzelne Teile dieser Bestimmungen ungültig sein oder werden, so berührt dies 
            die Wirksamkeit der übrigen Bestimmungen nicht. In einem solchen Fall werden die Vertragsparteien
             ungültige Bestimmungen durch solche Bestimmungen ersetzen, die in ihrem wirtschaftlichen Zweck den
             ungültigen Bestimmungen möglichst nahekommen.<br />
            •	Ist der Nutzer Kaufmann, juristische Person des öffentlichen Rechts oder öffentlich-rechtliches
             Sondervermögen, so ist Köln als Sitz von TC ausschließlicher Gerichtsstand für alle Streitigkeiten 
            aus dem Vertragsverhältnis.<br />
            •	Es gilt das Recht der Bundesrepublik Deutschland, wobei die Geltung des UN-Kaufrechts ausgeschlossen wird.
            Stand der AGB: August 2015<br />

        </div>
    </div>
</div>


